In [3]:
import pandas as pd

data = pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\Data/\term_doc_matrixs_versions/word_document_matrix_CV.csv', index_col='Unnamed: 0')
data = data.transpose()
data.head()

,0,1,2,3,4,5,6,7,8,9,...,966,967,968,969,970,971,972,973,974,975
aang,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abagnale,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abandoned,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abba,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abducted,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
top_dict = {}
for c in data.columns:
    top = data[c].sort_values(ascending=False).head(50)
print(top)

presence      1
suitcase      1
enjoys        1
around        1
travelling    1
interest      1
living        1
find          1
country       1
hire          1
threatened    1
mystic        1
potential     1
job           1
firing        1
ryan          1
new           1
lifestyle     1
people        1
bingham       1
love          1
fifth         0
finest        0
field         0
finder        0
finding       0
finn          0
finish        0
finally       0
fictional     0
fiona         0
fire          0
fiction       0
fiennes       0
final         0
finalist      0
fifty         0
fierce        0
filtenborg    0
filmmaker     0
filming       0
fired         0
filled        0
fiercely      0
figure        0
fifteen       0
fighting      0
fighter       0
fight         0
film          0
Name: 975, dtype: int64

We went back and perfmormed an improved version of the cleaning and lemmatizing. We dropped duplicated rows and lemmatize with a more precise technique. We also changed the vector limits and set the number of feautres to be the top 2500 which is less than half of the original amount.

In [2]:
data2 = pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\Data/\term_doc_matrixs_versions/word_document_matrix_CV3.csv', index_col='Unnamed: 0')
data2t = data2.transpose()
data2.head()

,abduct,ability,able,aboard,abraham,accept,accident,accidentally,acclimate,account,...,youth,yuppie,zeus,zink,zion,zoo,zoologist,zorg,zorro,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
for c in data2t.columns:
    top = data2t[c].sort_values(ascending=False).head(20)
    print(top)

NameError: name 'data2t' is not defined

In [4]:
num_mentions = data2.sum()
terms = data2.columns

NameError: name 'data2' is not defined

In [5]:
summarized = pd.DataFrame({'term':terms,'times':num_mentions}, columns= ['term','times'])
summarized.sort_values(by=['times'],ascending=False).head(50)

NameError: name 'terms' is not defined

# Modelling

## Try 1

In [6]:
import pickle

In [7]:
term_doc_matrix = pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\Data/term_doc_matrixs_versions/word_document_matrix_CV3.csv', index_col='Unnamed: 0')

In [8]:
# Import the necessary modules for LDA with gensim
# Terminal / Anaconda Navigator: conda install -c conda-forge gensim
from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [9]:
# One of the required inputs is a term-document matrix
transp = term_doc_matrix.transpose()
transp.head()

,0,1,2,3,4,5,6,7,8,9,...,966,967,968,969,970,971,972,973,974,975
abduct,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ability,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aboard,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abraham,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(transp)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [14]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix)
id2word=  pickle.load(open(r"C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\your-project\pickles\vectorizer_dicts/id2w.pkl", "rb"))

In [15]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=5, passes=10)
lda.print_topics()

[(0,
  '0.010*"imdb" + 0.009*"life" + 0.008*"man" + 0.008*"love" + 0.008*"editor" + 0.008*"young" + 0.006*"must" + 0.006*"woman" + 0.006*"help" + 0.006*"family"'),
 (1,
  '0.008*"find" + 0.008*"life" + 0.008*"anonymous" + 0.007*"world" + 0.007*"team" + 0.006*"family" + 0.006*"new" + 0.006*"young" + 0.005*"friend" + 0.005*"editor"'),
 (2,
  '0.011*"find" + 0.011*"new" + 0.010*"anonymous" + 0.008*"must" + 0.007*"escape" + 0.006*"year" + 0.006*"imdb" + 0.006*"ha" + 0.005*"game" + 0.005*"world"'),
 (3,
  '0.012*"anonymous" + 0.009*"world" + 0.008*"find" + 0.008*"must" + 0.006*"man" + 0.006*"force" + 0.006*"young" + 0.006*"kenneth" + 0.006*"chisholm" + 0.005*"help"'),
 (4,
  '0.013*"anonymous" + 0.009*"world" + 0.009*"life" + 0.009*"must" + 0.008*"kenneth" + 0.008*"chisholm" + 0.008*"new" + 0.007*"team" + 0.006*"save" + 0.004*"discover"')]

AT first glance we MUST to remove the nicknames of the plot writers and the term imdb. Let's do a list of terms we need to drop. maybe try Bigrams too.

In [16]:
terms_to_drop=['imdb','anonymous','kenneth','chisholm','ha','ahmetkozan','com']

## Try 2

In [150]:
term_doc_matrix2 = pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\Data/word_document_matrix_CV4.csv', index_col='Unnamed: 0')

In [151]:
transp = term_doc_matrix2.transpose()
transp.head()

,0,1,2,3,4,5,6,7,8,9,...,966,967,968,969,970,971,972,973,974,975
aang,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abagnale,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abandon,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abba,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abduct,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [152]:
sparse_counts = scipy.sparse.csr_matrix(transp)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [153]:
id2word5000=  pickle.load(open("id2w5000.pkl", "rb"))

In [154]:
lda2 = models.LdaModel(corpus=corpus, id2word=id2word5000, num_topics=4, passes=30)
lda2.print_topics()

[(0,
  '0.007*"world" + 0.007*"new" + 0.005*"young" + 0.005*"help" + 0.005*"must" + 0.005*"life" + 0.005*"order" + 0.004*"man" + 0.004*"save" + 0.004*"agent"'),
 (1,
  '0.009*"must" + 0.008*"world" + 0.006*"new" + 0.005*"family" + 0.005*"young" + 0.005*"life" + 0.005*"find" + 0.004*"man" + 0.004*"war" + 0.004*"take"'),
 (2,
  '0.009*"find" + 0.006*"life" + 0.006*"world" + 0.005*"team" + 0.005*"must" + 0.005*"human" + 0.003*"love" + 0.003*"earth" + 0.003*"try" + 0.003*"stop"'),
 (3,
  '0.008*"new" + 0.005*"life" + 0.005*"year" + 0.004*"find" + 0.004*"friend" + 0.004*"home" + 0.004*"set" + 0.003*"go" + 0.003*"must" + 0.003*"get"')]

# Try 2.1

Still with CountVectorizer but now with top 2500 features, including bigrams and a maximum document presence of 30% to try and reduce overlap.

In [155]:
term_doc_matrix3 = pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\Data/word_document_matrix_CV5.csv', index_col='Unnamed: 0')

In [156]:
transp = term_doc_matrix3.transpose()
transp.head()

,0,1,2,3,4,5,6,7,8,9,...,966,967,968,969,970,971,972,973,974,975
abduct,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ability,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aboard,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
accident,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [157]:
sparse_counts = scipy.sparse.csr_matrix(transp)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [158]:
id2wordvect=  pickle.load(open("id2wvect.pkl", "rb"))

In [159]:
lda3 = models.LdaModel(corpus=corpus, id2word=id2wordvect, num_topics=4, passes=30)
lda3.print_topics(num_words=20)

[(0,
  '0.010*"find" + 0.009*"world" + 0.007*"life" + 0.006*"save" + 0.006*"earth" + 0.005*"family" + 0.005*"year" + 0.005*"back" + 0.005*"friend" + 0.005*"team" + 0.004*"discover" + 0.004*"begin" + 0.004*"young" + 0.004*"must" + 0.004*"sent" + 0.004*"help" + 0.004*"new" + 0.004*"rescue" + 0.004*"secret" + 0.004*"order"'),
 (1,
  '0.013*"new" + 0.008*"life" + 0.007*"york" + 0.007*"new york" + 0.007*"city" + 0.007*"world" + 0.005*"fight" + 0.005*"must" + 0.005*"man" + 0.005*"high" + 0.005*"family" + 0.005*"school" + 0.004*"york city" + 0.004*"friend" + 0.004*"father" + 0.004*"love" + 0.004*"go" + 0.004*"american" + 0.004*"team" + 0.003*"young"'),
 (2,
  '0.008*"find" + 0.008*"must" + 0.008*"world" + 0.008*"year" + 0.007*"life" + 0.006*"young" + 0.006*"new" + 0.006*"boy" + 0.005*"war" + 0.004*"help" + 0.004*"discovers" + 0.004*"threat" + 0.004*"woman" + 0.004*"old" + 0.004*"take" + 0.004*"agent" + 0.003*"story" + 0.003*"daughter" + 0.003*"hunt" + 0.003*"love"'),
 (3,
  '0.011*"must" + 0.008*"find" + 0.007*"time" + 0.007*"man" + 0.007*"young" + 0.006*"woman" + 0.005*"world" + 0.005*"help" + 0.005*"take" + 0.005*"travel" + 0.005*"new" + 0.005*"set" + 0.004*"family" + 0.004*"life" + 0.004*"friend" + 0.004*"home" + 0.004*"together" + 0.004*"th" + 0.004*"team" + 0.004*"love"')]

more words to clean

In [160]:
more_words=['sony', 'picture', 'jpg', 'century','fox']

There is a lot of overlap with the terms, maybe we should penalize the words that are in a lot of documents. Let's use TIFDIF instead of CountVectorizer.

## Try 3 TFIDF

In [100]:
term_doc_matrix3 = pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\Data/word_document_matrix_CV6.csv', index_col='Unnamed: 0')

In [101]:
transp = term_doc_matrix3.transpose()
transp.head()

,0,1,2,3,4,5,6,7,8,9,...,966,967,968,969,970,971,972,973,974,975
abduct,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
ability,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
able,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
aboard,0.0,0.0,0.309212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
abraham,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:
sparse_counts = scipy.sparse.csr_matrix(transp)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [103]:
id2wordvect=  pickle.load(open("id2wordvectTF.pkl", "rb"))

In [107]:
lda4 = models.LdaModel(corpus=corpus, id2word=id2wordvect, num_topics=3, passes=40)
lda4.print_topics(num_words=15)

[(0,
  '0.002*"new" + 0.002*"life" + 0.002*"must" + 0.002*"family" + 0.002*"world" + 0.002*"woman" + 0.001*"young" + 0.001*"find" + 0.001*"help" + 0.001*"city" + 0.001*"war" + 0.001*"game" + 0.001*"discover" + 0.001*"man" + 0.001*"journey"'),
 (1,
  '0.002*"must" + 0.002*"find" + 0.002*"friend" + 0.002*"life" + 0.002*"town" + 0.001*"police" + 0.001*"world" + 0.001*"small" + 0.001*"group" + 0.001*"couple" + 0.001*"mystic" + 0.001*"former" + 0.001*"turn" + 0.001*"earth" + 0.001*"father"'),
 (2,
  '0.002*"world" + 0.002*"new" + 0.002*"find" + 0.002*"man" + 0.002*"force" + 0.002*"young" + 0.002*"life" + 0.002*"take" + 0.002*"team" + 0.002*"order" + 0.002*"must" + 0.002*"family" + 0.002*"get" + 0.002*"save" + 0.002*"year"')]

Let's try to take the most common words overlapping out and then filter by noun adjective

## Try4 CV with 2500, bigrams and 30% of documents but with the most common words out

In [165]:
term_doc_matrix4 = pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\Data/word_document_matrix_CV7.csv', index_col='Unnamed: 0')

In [166]:
transp = term_doc_matrix4.transpose()
transp.head()

,0,1,2,3,4,5,6,7,8,9,...,966,967,968,969,970,971,972,973,974,975
abduct,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ability,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aboard,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abraham,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [167]:
sparse_counts = scipy.sparse.csr_matrix(transp)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [168]:
id2wordcv_st=  pickle.load(open("id2wordcv_st.pkl", "rb"))

In [197]:
lda5 = models.LdaModel(corpus=corpus, id2word=id2wordcv_st, num_topics=4,  iterations=250, passes =10)
lda5.print_topics(num_words=10)

[(0,
  '0.009*"young" + 0.007*"love" + 0.006*"woman" + 0.006*"man" + 0.006*"life" + 0.005*"team" + 0.005*"family" + 0.005*"help" + 0.005*"fall" + 0.005*"year"'),
 (1,
  '0.007*"take" + 0.006*"new" + 0.005*"war" + 0.005*"race" + 0.004*"man" + 0.004*"help" + 0.004*"work" + 0.004*"monster" + 0.004*"force" + 0.004*"life"'),
 (2,
  '0.013*"new" + 0.008*"life" + 0.007*"friend" + 0.005*"york" + 0.005*"new york" + 0.005*"family" + 0.005*"agent" + 0.005*"go" + 0.005*"year" + 0.004*"human"'),
 (3,
  '0.009*"new" + 0.008*"life" + 0.006*"order" + 0.005*"home" + 0.005*"friend" + 0.005*"save" + 0.005*"force" + 0.005*"help" + 0.005*"young" + 0.004*"secret"')]

In [192]:
lda6 = models.LdaModel(corpus=corpus, id2word=id2wordcv_st, num_topics=5,  iterations=200, passes = 15)
lda6.print_topics()

[(0,
  '0.014*"new" + 0.010*"family" + 0.010*"new york" + 0.010*"york" + 0.009*"young" + 0.009*"city" + 0.008*"life" + 0.007*"woman" + 0.006*"school" + 0.006*"york city"'),
 (1,
  '0.007*"take" + 0.007*"year" + 0.006*"team" + 0.006*"life" + 0.005*"secret" + 0.005*"new" + 0.005*"help" + 0.004*"stop" + 0.004*"order" + 0.004*"fight"'),
 (2,
  '0.008*"new" + 0.006*"life" + 0.006*"family" + 0.005*"try" + 0.005*"take" + 0.005*"help" + 0.005*"save" + 0.004*"return" + 0.004*"young" + 0.004*"woman"'),
 (3,
  '0.007*"new" + 0.006*"human" + 0.006*"life" + 0.005*"order" + 0.005*"race" + 0.005*"lead" + 0.005*"son" + 0.005*"team" + 0.005*"father" + 0.005*"work"'),
 (4,
  '0.008*"life" + 0.006*"young" + 0.006*"war" + 0.005*"journey" + 0.005*"back" + 0.005*"earth" + 0.004*"man" + 0.004*"former" + 0.004*"jgp" + 0.004*"deadly"')]

## Try 5 (latest corpus after taking out several rounds of 'noise' words) CV8 idtw_cv_new

In [17]:
term_doc_matrix5 = pd.read_csv(r'C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\Data\term_doc_matrixs_versions/word_document_matrix_CV8.csv',index_col='Unnamed: 0')

In [18]:
transp = term_doc_matrix5.transpose()
transp.head()

,0,1,2,3,4,5,6,7,8,9,...,966,967,968,969,970,971,972,973,974,975
abduct,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ability,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aboard,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abraham,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
sparse_counts = scipy.sparse.csr_matrix(transp)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [22]:
id2wordcv_new=  pickle.load(open(r"C:\Users\Usuario\Desktop\gits\Project-Week-8-Final-Project\your-project\pickles\vectorizer_dicts/id2wordcv_new.pkl", "rb"))

In [23]:
lda5 = models.LdaModel(corpus=corpus, id2word=id2wordcv_new, num_topics=4,  iterations=100, passes =33)
lda5.print_topics(num_words=20)

[(0,
  '0.006*"make" + 0.005*"new" + 0.005*"team" + 0.005*"man" + 0.005*"take" + 0.005*"agent" + 0.004*"drug" + 0.004*"time" + 0.004*"friend" + 0.004*"go" + 0.004*"murder" + 0.003*"men" + 0.003*"rescue" + 0.003*"detective" + 0.003*"york" + 0.003*"new york" + 0.003*"school" + 0.003*"high" + 0.003*"deal" + 0.003*"work"'),
 (1,
  '0.009*"new" + 0.007*"team" + 0.005*"secret" + 0.005*"evil" + 0.005*"mysterious" + 0.005*"fight" + 0.004*"agent" + 0.004*"past" + 0.004*"man" + 0.004*"former" + 0.004*"group" + 0.004*"young" + 0.003*"home" + 0.003*"threat" + 0.003*"destroy" + 0.003*"kill" + 0.003*"power" + 0.003*"discovers" + 0.003*"come" + 0.003*"stop"'),
 (2,
  '0.010*"new" + 0.008*"war" + 0.006*"friend" + 0.005*"get" + 0.005*"help" + 0.004*"young" + 0.004*"man" + 0.004*"discover" + 0.004*"save" + 0.004*"family" + 0.004*"race" + 0.004*"battle" + 0.004*"school" + 0.004*"love" + 0.004*"set" + 0.003*"city" + 0.003*"try" + 0.003*"captain" + 0.003*"force" + 0.003*"jack"'),
 (3,
  '0.011*"family" + 0.009*"young" + 0.008*"help" + 0.007*"love" + 0.006*"new" + 0.006*"return" + 0.005*"take" + 0.005*"earth" + 0.005*"father" + 0.005*"woman" + 0.005*"city" + 0.004*"human" + 0.004*"friend" + 0.004*"set" + 0.004*"man" + 0.004*"save" + 0.004*"back" + 0.004*"land" + 0.004*"force" + 0.004*"fall"')]

so far no iteration is better than the next one

In [234]:
ldabest = models.LdaModel(corpus=corpus, id2word=id2wordcv_new, num_topics=2,  iterations=100, passes =35)
ldabest.print_topics(num_words=20)

[(0,
  '0.006*"family" + 0.006*"friend" + 0.005*"new" + 0.005*"young" + 0.005*"help" + 0.005*"save" + 0.005*"man" + 0.005*"earth" + 0.004*"love" + 0.004*"take" + 0.004*"story" + 0.004*"team" + 0.004*"human" + 0.004*"fight" + 0.004*"home" + 0.004*"go" + 0.004*"rescue" + 0.003*"woman" + 0.003*"become" + 0.003*"old"'),
 (1,
  '0.009*"new" + 0.006*"young" + 0.005*"force" + 0.005*"war" + 0.004*"man" + 0.004*"city" + 0.004*"new york" + 0.004*"york" + 0.004*"team" + 0.004*"take" + 0.003*"school" + 0.003*"group" + 0.003*"agent" + 0.003*"return" + 0.003*"woman" + 0.003*"race" + 0.003*"becomes" + 0.003*"help" + 0.003*"high" + 0.003*"mysterious"')]

We can see there are mainly 2 central topics, 1 revolving around life, family, love and growing and another around war,battles, fighting, saving, protecting. Of this second one we see that there are non-negligible sub groups, like different flavours of the same theme, specially referencing human race and saving the planet, and war and country.

In [242]:
ldabest4 = models.LdaModel(corpus=corpus, id2word=id2wordcv_new, num_topics=3,  iterations=100, passes =33)
ldabest4.print_topics(num_words=20)

[(0,
  '0.008*"young" + 0.007*"help" + 0.006*"man" + 0.006*"friend" + 0.005*"earth" + 0.005*"war" + 0.005*"evil" + 0.005*"love" + 0.005*"try" + 0.004*"take" + 0.004*"family" + 0.004*"work" + 0.004*"new" + 0.004*"make" + 0.004*"secret" + 0.004*"human" + 0.004*"boy" + 0.004*"becomes" + 0.003*"mysterious" + 0.003*"fall"'),
 (1,
  '0.010*"new" + 0.005*"race" + 0.005*"group" + 0.005*"force" + 0.004*"young" + 0.004*"york" + 0.004*"new york" + 0.004*"agent" + 0.004*"family" + 0.004*"murder" + 0.004*"city" + 0.004*"help" + 0.003*"time" + 0.003*"woman" + 0.003*"team" + 0.003*"yahoo" + 0.003*"jgp" + 0.003*"father" + 0.003*"return" + 0.003*"jgp yahoo"'),
 (2,
  '0.008*"new" + 0.006*"save" + 0.005*"team" + 0.005*"begin" + 0.005*"family" + 0.005*"order" + 0.005*"take" + 0.005*"son" + 0.004*"discover" + 0.004*"father" + 0.004*"man" + 0.004*"go" + 0.004*"set" + 0.004*"meet" + 0.004*"city" + 0.004*"rescue" + 0.004*"escape" + 0.003*"friend" + 0.003*"young" + 0.003*"home"')]

In [36]:
ldabest5 = models.LdaModel(corpus=corpus, id2word=id2wordcv_new, num_topics=4,  iterations=100, passes =100, random_state=44)
ldabest5.print_topics(num_words=20)

[(0,
  '0.009*"new" + 0.009*"young" + 0.008*"man" + 0.006*"new york" + 0.006*"york" + 0.006*"family" + 0.006*"take" + 0.006*"woman" + 0.005*"help" + 0.005*"city" + 0.005*"force" + 0.004*"york city" + 0.004*"travel" + 0.004*"war" + 0.004*"love" + 0.004*"team" + 0.003*"agent" + 0.003*"time" + 0.003*"stop" + 0.003*"father"'),
 (1,
  '0.007*"new" + 0.007*"save" + 0.006*"take" + 0.006*"war" + 0.005*"team" + 0.005*"man" + 0.005*"escape" + 0.004*"evil" + 0.004*"journey" + 0.004*"order" + 0.004*"set" + 0.004*"rescue" + 0.004*"friend" + 0.004*"threat" + 0.004*"force" + 0.003*"earth" + 0.003*"face" + 0.003*"back" + 0.003*"power" + 0.003*"begin"'),
 (2,
  '0.008*"help" + 0.007*"young" + 0.005*"order" + 0.005*"try" + 0.005*"woman" + 0.005*"get" + 0.005*"friend" + 0.004*"plan" + 0.004*"power" + 0.004*"son" + 0.004*"new" + 0.004*"former" + 0.004*"go" + 0.003*"agent" + 0.003*"love" + 0.003*"family" + 0.003*"back" + 0.003*"struggle" + 0.003*"move" + 0.003*"break"'),
 (3,
  '0.008*"high" + 0.008*"new" + 0.006*"school" + 0.006*"family" + 0.005*"friend" + 0.005*"earth" + 0.005*"yahoo" + 0.005*"high school" + 0.005*"jgp" + 0.004*"jgp yahoo" + 0.004*"team" + 0.004*"set" + 0.004*"john" + 0.004*"story" + 0.004*"home" + 0.004*"love" + 0.004*"attempt" + 0.004*"crime" + 0.004*"group" + 0.003*"come"')]

In [34]:
ldabest6 = models.LdaModel(corpus=corpus, id2word=id2wordcv_new, num_topics=3,  iterations=100, passes =100, random_state=44)
ldabest6.print_topics(num_words=25)

[(0,
  '0.010*"new" + 0.008*"young" + 0.007*"man" + 0.006*"family" + 0.006*"take" + 0.005*"york" + 0.005*"new york" + 0.005*"force" + 0.004*"agent" + 0.004*"return" + 0.004*"woman" + 0.004*"father" + 0.004*"city" + 0.004*"story" + 0.004*"john" + 0.004*"human" + 0.004*"team" + 0.003*"stop" + 0.003*"help" + 0.003*"war" + 0.003*"york city" + 0.003*"american" + 0.003*"race" + 0.003*"time" + 0.003*"protect"'),
 (1,
  '0.007*"team" + 0.006*"earth" + 0.006*"new" + 0.006*"war" + 0.006*"save" + 0.005*"take" + 0.005*"home" + 0.005*"fight" + 0.004*"journey" + 0.004*"escape" + 0.004*"man" + 0.004*"order" + 0.004*"set" + 0.004*"go" + 0.004*"begin" + 0.004*"quest" + 0.003*"change" + 0.003*"king" + 0.003*"friend" + 0.003*"evil" + 0.003*"rescue" + 0.003*"threat" + 0.003*"secret" + 0.003*"alien" + 0.003*"back"'),
 (2,
  '0.007*"love" + 0.007*"friend" + 0.006*"help" + 0.006*"young" + 0.006*"high" + 0.006*"school" + 0.005*"woman" + 0.005*"get" + 0.005*"new" + 0.004*"fall" + 0.004*"family" + 0.004*"police" + 0.004*"old" + 0.004*"sent" + 0.004*"high school" + 0.004*"make" + 0.003*"former" + 0.003*"becomes" + 0.003*"mother" + 0.003*"mystic" + 0.003*"girl" + 0.003*"order" + 0.003*"boy" + 0.003*"back" + 0.003*"plan"')]

In [29]:
ldabest7 = models.LdaModel(corpus=corpus, id2word=id2wordcv_new, num_topics=3,  iterations=120, passes =100, random_state=42)
ldabest7.print_topics(num_words=25)

[(0,
  '0.015*"new" + 0.006*"friend" + 0.005*"family" + 0.005*"team" + 0.005*"get" + 0.005*"york" + 0.005*"new york" + 0.005*"city" + 0.004*"human" + 0.004*"take" + 0.004*"home" + 0.004*"adventure" + 0.004*"woman" + 0.004*"go" + 0.004*"monster" + 0.004*"group" + 0.003*"young" + 0.003*"force" + 0.003*"back" + 0.003*"meet" + 0.003*"name" + 0.003*"quest" + 0.003*"york city" + 0.003*"time" + 0.003*"stop"'),
 (1,
  '0.006*"agent" + 0.005*"war" + 0.005*"new" + 0.005*"daughter" + 0.005*"young" + 0.004*"rescue" + 0.004*"battle" + 0.004*"help" + 0.004*"take" + 0.004*"man" + 0.004*"boy" + 0.004*"murder" + 0.004*"plan" + 0.004*"american" + 0.004*"drug" + 0.003*"son" + 0.003*"force" + 0.003*"captain" + 0.003*"try" + 0.003*"father" + 0.003*"girl" + 0.003*"friend" + 0.003*"former" + 0.003*"save" + 0.003*"order"'),
 (2,
  '0.008*"young" + 0.007*"love" + 0.007*"man" + 0.006*"earth" + 0.006*"help" + 0.006*"fall" + 0.005*"school" + 0.005*"race" + 0.005*"family" + 0.004*"save" + 0.004*"woman" + 0.004*"make" + 0.004*"war" + 0.004*"story" + 0.003*"time" + 0.003*"high school" + 0.003*"john" + 0.003*"fall love" + 0.003*"high" + 0.003*"human" + 0.003*"team" + 0.003*"change" + 0.003*"hunt" + 0.003*"take" + 0.003*"stop"')]

Topic0: There is still intruder words and the topics dont seem as defined as we would like, but so far it's the best. Topic 0 is the less clear in this batch but we can still give an intuition about action on a bigger scale or science fiction and adventure topics with words like team,, forcce, adventure,quest, stop, time.

Topic1: seems to be clearly about war,battle and struggles stakes in action with words like earth, war, human, fight, rescue, battle, race, king, american.

Topic2: More humane and intimate things, family,love,, son, discover, mysterious, new york.

In [31]:
with open("model.pkl", "wb") as fp:   #Pickling
    pickle.dump(ldabest7, fp)

In [35]:
with open("model2.pkl", "wb") as fp:   #Pickling
    pickle.dump(ldabest6, fp)

In [37]:
with open("model3.pkl", "wb") as fp:   #Pickling
    pickle.dump(ldabest5, fp)

In [263]:
res = ldabest6.get_document_topics(corpus)

In [38]:
pd.DataFrame(ldabest6.get_document_topics(corpus))

                    0                 1                 2
0    (0, 0.019962156)    (1, 0.9615133)  (2, 0.018524569)
1    (0, 0.026556935)  (1, 0.029683545)   (2, 0.94375956)
2    (0, 0.030398522)   (1, 0.02932446)   (2, 0.94027704)
3    (0, 0.021542888)  (1, 0.021187907)   (2, 0.95726925)
4    (0, 0.031296026)   (1, 0.93913877)  (2, 0.029565236)
..                ...               ...               ...
971   (0, 0.94856477)  (1, 0.026441345)  (2, 0.024993945)
972    (0, 0.9245398)  (1, 0.033934146)  (2, 0.041526094)
973   (0, 0.03303267)  (1, 0.031504717)    (2, 0.9354626)
974   (0, 0.04475334)    (1, 0.9092721)  (2, 0.045974612)
975   (0, 0.69162077)   (1, 0.02073842)   (2, 0.28764078)

[976 rows x 3 columns]